  @use "../utils" as *;
  @use "../global" as *;

  .mainContainer {
    display: flex;
    flex-direction: column;
    background-color: $main-bg-color;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .row {
    display: flex;
    justify-content: start;
    column-gap: 4%;
    //margin: 0 26px 0 0;


    
  }

  .block {
    display: flex;
    flex-direction: column;
    width: 256px;
    min-width: 0;
    background-color: rgb(0 154 154);
    outline-offset: 0;
    border-radius: 16px;
    outline: rgb(217 217 217) solid 0px;

    @include xl {
      position: relative;
      width: 100%;
      min-width: unset;
    }
  }

  .topSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 34px;
    margin: 0 0 472px;

    @include md {
      position: relative;
      margin: 0 0 150px;
    }

    @include xs {
      margin: 0 0 80px;
    }

    @include tn {
      margin: 0 0 50px;
    }
  }

  .brandingSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    background-color: rgb(0 102 102);
    border-radius: 0 0 16px 16px;
  }

  .brandingRow {
    display: flex;
    column-gap: 27px;
    margin: 24px;

    @include xs {
      position: relative;
      column-gap: 16px;
      margin: 24px 16px;
    }

    @include tn {
      column-gap: 8px;
      margin: 24px 8px;
    }
  }

  .logoImage {
    width: 24px;
    object-fit: cover;
  }

  .companyName {
    margin: 1px 0 3px;
    width: 114px;
    font: 700 16px/1.25 Inter, Helvetica, Arial, serif;
    color: rgb(229 227 227);
    letter-spacing: -0.32px;
  }

  .secondaryIcon {
    margin: 4px 0;
    width: 16px;
    object-fit: cover;
  }

  .navigationSection {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    width: 208px;
    max-width: 85%;
    height: 100vh;
  }

  .currentSection {
    display: flex;
    align-items: center;
    margin: 0 12px;
    font: 500 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(229 227 227);
    text-transform: uppercase;
    letter-spacing: 0.4px;

    @include tn {
      position: relative;
      margin: 0 8px;
    }
  }

  .navItemRow {
    display: flex;
    column-gap: 12px;
    margin: 18px 12px 0;

    @include tn {
      position: relative;
      column-gap: 8px;
      margin: 18px 8px 0;
    }
  }

  .sectionIcon {
    width: 20px;
    object-fit: cover;
  }

  .sectionTitle {
    width: 152px;
    font: 500 14px/1.43 Inter, Helvetica, Arial, serif;
    color: rgb(229 227 227);
    letter-spacing: -0.28001px;
  }

  .navItemRow1 {
    display: flex;
    column-gap: 12px;
    margin: 28px 12px 0;

    @include tn {
      position: relative;
      column-gap: 8px;
      margin: 28px 8px 0;
    }
  }

  .image {
    width: 20px;
    object-fit: cover;
  }

  .subNavSection {
    display: flex;
    flex-direction: column;
    margin: 18px 0 0;
    background-color: rgb(0 102 102);
    border-radius: 8px;
  }

  .row1 {
    display: flex;
    column-gap: 12px;
    margin: 10px 12px;

    @include tn {
      position: relative;
      column-gap: 8px;
      margin: 10px 8px;
    }
  }

  .incomeTitle {
    width: 124px;
    font: 500 14px/1.43 Inter, Helvetica, Arial, serif;
    color: rgb(229 227 227);
    letter-spacing: -0.28001px;
  }

  .incomeIcon {
    margin: 2px 0;
    width: 16px;
    object-fit: cover;
  }

  .statusRow {
    display: flex;
    align-items: center;
    column-gap: 11px;
    margin: 12px 0 0 23px;

    @include xs {
      position: relative;
      margin: 12px 0 0 16px;
    }

    @include tn {
      column-gap: 8px;
      margin: 12px 0 0 8px;
    }
  }

  .color {
    width: 2px;
    height: 140px;
    min-height: 140px;
    background-color: rgb(0 102 102);
  }

  .row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
    width: 172px;
    min-width: 0;
  }

  .earningsLabel {
    width: 86.05%;
    font: 500 12px/1.33 Inter, Helvetica, Arial, serif;
    color: rgb(229 227 227);
    letter-spacing: -0.24px;
  }

  .refundsInfo {
    display: flex;
    justify-content: center;
    margin: 12px 0 0;
    width: 100%;
    max-width: 100%;
    font: 500 12px/1.33 Inter, Helvetica, Arial, serif;
    color: rgb(229 227 227);
    text-align: center;
    background-color: rgb(0 102 102);
    padding: 8px 12px;
    border-radius: 8px;
    letter-spacing: -0.24px;
  }

  .declinesLabel {
    margin: 12px 0 0;
    width: 86.05%;
    font: 500 12px/1.33 Inter, Helvetica, Arial, serif;
    color: rgb(229 227 227);
    letter-spacing: -0.24px;

  }

  .payoutsLabel {
    margin: 20px 0 0;
    width: 86.05%;
    font: 500 12px/1.33 Inter, Helvetica, Arial, serif;
    color: rgb(229 227 227);
    letter-spacing: -0.24px;
  }

  .info1 {
    display: flex;
    align-items: center;
    margin: 40px 12px 0;
    font: 500 12px/1 Inter, Helvetica, Arial, serif;
    color: rgb(229 227 227);
    text-transform: uppercase;
    letter-spacing: 0.4px;

    @include tn {
      position: relative;
      margin: 40px 8px 0;
    }
  }

  .row3 {
    display: flex;
    column-gap: 12px;
    margin: 18px 12px 0;

    @include tn {
      position: relative;
      column-gap: 8px;
      margin: 18px 8px 0;
    }
  }

  .info2 {
    width: 152px;
    font: 500 14px/1.43 Inter, Helvetica, Arial, serif;
    color: rgb(229 227 227);
    letter-spacing: -0.28001px;
  }

  .row4 {
    display: flex;
    column-gap: 12px;
    margin: 28px 12px 0;

    @include tn {
      position: relative;
      column-gap: 8px;
      margin: 28px 8px 0;
    }
  }

  .settingsIcon {
    width: 20px;
    object-fit: cover;
  }

  .settingsTitle {
    width: 124px;
    font: 500 14px/1.43 Inter, Helvetica, Arial, serif;
    color: rgb(229 227 227);
    letter-spacing: -0.28001px;
  }

  .image1 {
    margin: 2px 0;
    width: 16px;
    object-fit: cover;
  }

  .portfolioSection {
    display: flex;
    flex-direction: column;
    row-gap: 63px;
    
    position: absolute;
    left: 18%;
    min-width: 0;
    width: 80%;

    @include xl {
      position: relative;
      margin: 0;
      width: 80%;
      min-width: unset;
    }

    @include tn {
      row-gap: 50px;
    }
  }


  .portfolioTitle {
    margin: 0 10px;
    font: 700 24px/0.83 Inter, Helvetica, Arial, serif;
    color: rgb(57 46 46);
    letter-spacing: -0.88px;

    @include md {
      align-items: flex-start;
      font-size: 22px;
    }

    @include xxs {
      font-size: 20px;
    }

    @include tn {
      position: relative;
      margin: 0 8px;
    }
  }

  .profileGrid {
    display: grid;
    align-content: center;
    
    column-gap: 30px;
    row-gap: 40px;
    width: 100%;
    
    justify-content: center;
    grid-template-columns: repeat(2, minmax(0, 2fr));

    @include md {
      column-gap: 32px;
    }
    @include lg{
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    @include xs {
      column-gap: 16px;
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  .block5 {
    display: flex;
    flex-direction: column;
    box-shadow: $shadow;
    
    max-width: 500px;
    width: 100%;
    height: fit-content;
    overflow: hidden;

    background-color: rgb(255 255 255);
    border-radius: 5px;
    //
  }

  .row6 {
    display: flex;
    height: auto;
    row-gap: 0;
    margin: 15px 8px 63px 13px;
    flex-direction: column;

    @include tn {
      position: relative;
      margin: 15px 8px 50px;
    }
  }

  .detailsTitle {
    font: 600 16px/1.25 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    letter-spacing: -0.32px;
  }

  .row7 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 16px;
    margin: 18px 0 0;

    @include tn {
      column-gap: 8px;
    }
  }

  .occupationLabel {
    width: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.4px;
    line-height: 15px;

    color: #6f7482;
    letter-spacing: -0.26px;
  }

  .color1 {
    width: 303px;
    height: 33px;
    min-height: 33px;
    background-color: rgb(255 255 255);
    outline-color: #ABF3F2;
    border-radius: 1px;
    margin-left: 0px;
    border: 1px #c2c6c9 solid;

  }

  .row8 {
    display: flex;
    justify-content: space-between;

    margin: 27px 0 0;
    flex-direction: row;

    @include tn {
      column-gap: 8px;
    }
  }

  .maritalStatusLabel {
    width: 88px;
    //font: 700 13px/1.54 Inter, Helvetica, Arial, serif;
    color: rgb(0 0 0);
    letter-spacing: -0.26px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.4px;
    line-height: 15px;

    color: #6f7482;
  }

  .color11 {
    width: 303px;
    height: 33px;
    min-height: 33px;
    background-color: rgb(255 255 255);
    outline-color: #ABF3F2;
    border-radius: 1px;
    margin-left: 0px;
    border: 1px #c2c6c9 solid;
  }

  .genderLabel {
    width: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.4px;
    line-height: 15px;

    color: #6f7482;
    letter-spacing: -0.26px;
  }

  .dependantsLabel {
    width: 88px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.4px;
    line-height: 15px;

    color: #6f7482;
    letter-spacing: -0.26px;
  }

  .info6 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: rgb(0 0 0);
    letter-spacing: 0px;
    // line-height: 19px;
  }

  .info7 {
    width: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.4px;
    line-height: 15px;

    color: #6f7482;
    align-items: flex-start;
  }

  .info71 {
    width: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.4px;
    line-height: 15px;

    color: #6f7482;
    // letter-spacing: -0.26px;

  }

  .profileCard {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin: 27px 0 0;

    @include tn {
      column-gap: 8px;
    }
  }




  .dropdown {
    width: 303px;
    height: 33px;
    min-height: 33px;
    background-color: rgb(255 255 255);
    outline-color: #ABF3F2;
    border-radius: 1px;
    margin-left: 0px;
    border: 1px #c2c6c9 solid;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.4px;
    line-height: 15px;

    color: #6f7482;

    &:hover {
      background-color: #e9eefd;
    }
  }

  .dropdown-item {
    width: 303px;
    height: 33px;
    min-height: 33px;
    background-color: rgb(255 255 255);
    outline-color: #ABF3F2;
    border-radius: 1px;
    margin-left: 0px;
    border: 1px #c2c6c9 solid;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12.4px;
    line-height: 15px;
    border: none;
    color: #6f7482;

    &:hover {
      background-color: #e9eefd;
    }
  }

  .select {
    width: 303px;
    padding: 10px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }

  .select:hover {
    border-color: #888;
  }

  .select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  option {
    padding: 10px;
    font-size: 10px;
    background-color: #fff;
    color: #333;
    outline: none;
  }
 