@use "../utils" as *;
@use "../global" as *;



.searchToolbox {
  display: flex;
  flex-direction: column;
  background-color: rgb(0 102 102);
  border-radius: 16px;
  width: 100%;
}

.row5 {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: start;
  margin: 24px;

  @include xs {
    position: relative;
    margin: 24px 16px;
  }

  @include tn {
    margin: 24px 8px;
  }
}

.image2 {
  width: 121px;
  min-width: 0;
  object-fit: cover;
  margin-right: 10%;
}

.block4 {
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 140px;
  min-width: 208px;
  width: 30%;
  background-color: rgb(255 255 255);
  padding: 10px 12px;
  border-radius: 8px;
  margin-right: 42%;
}

.searchIcon {
  width: 20px;
}

.searchBtn {
  font: 500 14px/1.43 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0 / 60%);
  letter-spacing: -0.28001px;
}
.userIcon{
  background-color: rgb(255 255 255);
  color: rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  padding-bottom: 20px;
  text-align:center;
  text-anchor: middle;
  size: 20px;
  text-shadow: 0px 0px 0px rgb(0 0 0);
  border-radius:100% ;
}
.settingsIcon {
  margin: 2px 0;
  width: 16px;
  object-fit: cover;
}
.settingsIcon1 {
  width: 20px;
  object-fit: cover;
}
.notificationIcon {
  width: 20px;
  object-fit: cover;
}