@use "../utils" as *;
@use "../global" as *;



.searchToolbox {
  display: flex;
  flex-direction: column;
  background-color: rgb(0 102 102);
  border-radius: 16px;
  width: 100%;
}

.row5 {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: start;
  margin: 24px;

  @include xs {
    position: relative;
    margin: 24px 16px;
  }

  @include tn {
    margin: 24px 8px;
  }
}

.image2 {
  width: 121px;
  min-width: 0;
  object-fit: cover;
  margin-right: 10%;
}

.block4 {
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 140px;
  min-width: 208px;
  width: 30%;
  background-color: rgb(255 255 255);
  padding: 10px 12px;
  border-radius: 8px;
  margin-right: 42%;
}

.searchIcon {
  width: 20px;
}

.searchBtn {
  font: 500 14px/1.43 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0 / 60%);
  letter-spacing: -0.28001px;
}


.settingsIcon {
  margin: 2px 0;
  width: 16px;
  object-fit: cover;
}

.settingsIcon1 {
  width: 20px;
  object-fit: cover;
}

.notificationIcon {
  width: 20px;
  object-fit: cover;
}






.userProfile {
  position: relative;
}

.userIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}

.dropdownMenu {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 200px;
  background: #f1f1f1;
  z-index: 99999;
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  //overflow: hidden;
  
  /* Animation */
  opacity: 1;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: auto;
}

.dropdownMenu_active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu ul li {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.dropdownMenu ul li:hover {
  background: #33333373;
}

.dropdownMenu ul li a,
.dropdownMenu ul li button {
  text-decoration: none;
  //text-decoration-thickness:6px ;
  color: #333;
  background: none;
  border: none;
  width: 100%;
  font-weight:500;
  text-align: left;
  display: block;
  padding: 0;
  //font: inherit;
  cursor: pointer;
}
