@use "../utils" as *;
@use "../global" as *;

.mainContainer {
  display: flex;
  flex-direction: wrap;
  background-color: $main-bg-color;
  
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  justify-content: start;

  width: 100vw;
  overflow-x: hidden;
  
}




.portfolioSection {
  display: flex;
  flex-direction: column;
  row-gap: 63px;
  left: 18%;
  width: 100%; 
  min-width: 0;
  
  @include xl {
    
    margin: 0;
    width: 80%;
    min-width: unset;
  }

  @include tn {
    row-gap: 50px;
  }
}


.profileGrid {
  display: grid;
  justify-content: start;
  margin: 0px  0px 0px 5%;
  width: 100%;
  gap:15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  

  @include md {
    column-gap: 5px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    
  }
 
  @include xs {
    column-gap: 16px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.block5 {
  display: flex;
  flex-direction: column;
  grid-row: span 1;
  margin-top: 10px;
  max-width: 600px;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  grid-column: span 1;
  background-color: rgb(255 255 255);
  border-radius: 5px;
  box-shadow: $shadow;
  @include md {
    
    width: 100%;
    min-width: unset;
  }
}

.row6 {
  display: flex;
  height: auto;
  row-gap: 0;
  margin: 15px 8px 63px 13px;
  flex-direction: column;
  @include tn {
    position: relative;
    margin: 15px 8px 50px;
  }
}

.detailsTitle {
  font: 600 16px/1.25 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
  letter-spacing: -0.32px;
}

.row7 {
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  column-gap: 16px;
  margin: 18px 0 0;
  
  @include tn {
    column-gap: 8px;
  }
}

.occupationLabel {
  width: 72px;
  font-family: 'Inter'; 
   font-style: normal; 
   font-weight: 600; 
   font-size: 12.4px; 
   line-height: 15px;
  
   color: #6f7482;
  letter-spacing: -0.26px;
}

.color1 {
  width: 303px;
  height: 33px;
  min-height: 33px;
  background-color: rgb(255 255 255);
  outline-color: $active-color;
  border-radius: 1px;
  margin-left: 0px;
  border: 1px #c2c6c9 solid ;
  color:black;
  font-family: 'Inter'; 
  font-style: normal; 
  font-weight: 600; 
  font-size: 12.4px; 

}

.row8 {
  display: flex;
  justify-content:space-between;
  column-gap: 16px;
  margin: 27px 0 0;
  flex-direction: row;
  @include tn {
    column-gap: 8px;
  }
}

.maritalStatusLabel {
  width: 88px;
  color: rgb(0 0 0);
  letter-spacing: -0.26px;
  font-family: 'Inter'; 
   font-style: normal; 
   font-weight: 600; 
   font-size: 12.4px; 
   line-height: 15px; 
  
   color: #6f7482;
}

.color11 {
  width: 303px;
  height: 33px;
  min-height: 33px;
  background-color: rgb(255 255 255);
  outline-color: $active-color;
  border-radius: 1px;
  margin-left: 0px;
  border: 1px #c2c6c9 solid ;
  color:black;
  font-family: 'Inter'; 
   font-style: normal; 
   font-weight: 600; 
   font-size: 12.4px; 
}

.genderLabel {
  width: 72px;
  font-family: 'Inter'; 
   font-style: normal; 
   font-weight: 600; 
   font-size: 12.4px; 
   line-height: 15px;
  
   color: #6f7482;
  letter-spacing: -0.26px;
}

.dependantsLabel {
  width: 88px;
  font-family: 'Inter'; 
   font-style: normal; 
   font-weight: 600; 
   font-size: 12.4px; 
   line-height: 15px;
  
   color: #6f7482;
  letter-spacing: -0.26px;
}

.info6 {
  font-family: 'Inter'; 
  font-style: normal; 
  font-weight: 600; 
  font-size: 16px; 
  line-height: 30px;
  color: rgb(0 0 0);
  letter-spacing: 0px;
}

.info7 {
  width: auto;
  font-family: 'Inter'; 
   font-style: normal; 
   font-weight: 600; 
   font-size: 12.4px; 
   line-height: 15px;
  
   color: #6f7482;
  align-items: flex-start;
}

.info71 {
  width: auto;
  font-family: 'Inter'; 
   font-style: normal; 
   font-weight: 600; 
   font-size: 12.4px; 
   line-height: 15px;
  
   color: #6f7482;
  align-items: flex-start;
}

.profileCard {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin: 27px 0 0;

  @include tn {
    column-gap: 8px;
  }
}




.dropdown{
  width: 303px;
  height: 33px;
  min-height: 33px;
  background-color: rgb(255 255 255);
  outline-color: #ABF3F2;
  border-radius: 1px;
  margin-left: 0px;
  border: 1px #c2c6c9 solid ;
  font-family: 'Inter'; 
   font-style: normal; 
   font-weight: 600; 
   font-size: 12.4px; 
   line-height: 15px;
  
   color: #6f7482;
  &:hover {
    background-color: #e9eefd;
  }
}
.dropdown-item{
  width: 303px;
  height: 33px;
  min-height: 33px;
  background-color: rgb(255 255 255);
  outline-color: #ABF3F2;
  border-radius: 1px;
  margin-left: 0px;
  border: 1px #c2c6c9 solid ;
  font-family: 'Inter'; 
  font-style: normal; 
  font-weight: 600; 
  font-size: 12.4px; 
  line-height: 15px;
  border: none;
  color: #6f7482;
  &:hover {
    background-color: #e9eefd;
  }
}
.select {
  width: 303px;
  padding: 10px;
  font-size: 10px;
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.select:hover {
  border-color: #888;
}

.select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

option {
  padding: 10px;
  font-size: 10px;
  background-color: #fff;
  color: #333;
  outline: none;
}
.addButton{
  font-family: 'Inter'; 
  font-style: normal; 
  font-weight: 600; 
  font-size: 14px;
}