@use "../utils" as *;
@use "../global" as *;
.inputFieldContainer{
    display: flex;
    font:$main-font;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;
    //flex-grow: 1;
}
label {
  
  color: #2a2a2a;
  flex-grow: 1;
  font-size: 14px !important;
  font-weight: 600; 
}

.inputField {
  width: 100%;
  padding: 12px;
  
  font: $main-font;
  font-size: 12px;
  background-color: white;
  max-width: 308px;
  color: #2a2a2a;
  transition: border 0.1s ease-in-out;
  border: 1px solid #d9e2ec;
  border-radius: 6px;
 
  &:focus {
    border: 2px solid #0084ff;
    outline: none;
  }
}
