
$main-bg-color: #EAEFF5;
$card-color: #ffffff;;
$shadow:0 2px 10px rgba(0, 0, 0, 0.1);
$main-font: 600 14px 'Inter', normal;
$active-color: #007bff8e;
$active-color1: #007bff;
:root {

  --fallback-font-stack: Helvetica, Arial, serif;
}
