// style tokens
$main-bg-color: #D9dada;
$card-color: #EEF2F5;;
$shadow:3px 3px 3px 0 rgb(0 0 0 / 25%);
$main-font: 600 14px 'Inter', normal;

:root {
  // color

  // background color

  // border/outline color

  // margin

  // padding

  // font Stack
  --fallback-font-stack: Helvetica, Arial, serif;
}
