@use "../utils" as *;
@use "../global" as *;

.headerSection {
  display: flex;
  flex-direction: column;
  width: 13.33%;
  min-width: 0;
  background-color: rgb(255, 255, 255);
  outline-offset: 0;
  border-radius: 0 0 16px 16px;
  position: relative;
  min-height: 100vh;
  height: auto;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  top: 0px;
  left: 0px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 34px;
  margin: 0 0 472px;
}

.brandingBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.brandingRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 27px;
  margin: 24px 0px 0px 24px;
  @media (max-width: 1200px) {
    justify-content: center;
    margin: 24px 0px 0px 0px; // Hide text on small screens
  }
}

.logo {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}

.companyLogo {
  background-image: url('../../../public/assets/891b6c13b0d25bd9e7ffb88860b74834.png');
}

.siteTitle {
  margin: 1px 0 3px;
  width: 114px;
  font: 700 16px/1.25 Inter, Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  letter-spacing: -0.32px;
}

.siteTitle {
  @media (max-width: 1200px) {
    display: none; // Hide text on small screens
  }
}

.secondaryLogo {
  margin: 4px 0;
  width: 16px;
  object-fit: cover;
}

.navigationBar {
  display: flex;
  flex-direction: column;
  row-gap: 0;
  width: 208px;
  max-width: 85%;
  height: 100vh;
}

.mainNavSection {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  // margin: 0 12px;
  width: 100%;
  // @include tn {
  //   position: relative;
  //   margin: 0 8px;
  // }
}

.navTitle {
  display: flex;
  align-items: center;
  font: 500 12px/1 Inter, Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 0.4px;

  @media (max-width: 1000px) {
    display: none; // Hide text on small screens
  }
}

.navItem {
  display: flex;
  column-gap: 0px;

  @include tn {
    column-gap: 8px;
  }
}

.navIcon {
  width: 20px;
  object-fit: cover;
}

.scheduleLink {
  width: 152px;
  font: 500 14px/1.43 Inter, Helvetica, Arial, serif;
  color: rgb(0, 0, 0);
  letter-spacing: -0.28001px;
  text-decoration: none;

  @media (max-width: 1000px) {
    display: none; // Hide text on small screens
  }
}

.portfolioNavItem {
  display: flex;
  column-gap: 12px;
  align-items: center;
  width: 100%;
  padding: 2%;
  
  @include tn {
    position: relative;
    column-gap: 8px;
    margin: 28px 8px 0;
  }

  &:hover {
    border-right: 2px solid $active-color1;
  }
  @media (max-width: 1000px) {
    justify-content: center ; // Hide text on small screens
  }
}

.portfolioIcon {
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.dashboardIcon {
  background-image: url('../../../public/assets/dashboard.png');
}

.profileIcon {
  background-image: url('../../../public/assets/profile.png');
}

.goalIcon {
  background-image: url('../../../public/assets/goal.png');
}

.warningIcon {
  background-image: url('../../../public/assets/warning.png');
}

.investmentIcon {
  background-image: url('../../../public/assets/investment.png');
}

.portfolioNavItem:hover {
  .dashboardIcon {
    background-image: url('../../../public/assets/dashboard_active.png');
  }
  .profileIcon {
    background-image: url('../../../public/assets/profile_active.png');
  }
  .goalIcon {
    background-image: url('../../../public/assets/goal_active.png');
  }
  .warningIcon {
    background-image: url('../../../public/assets/warning_active.png');
  }
  .investmentIcon {
    background-image: url('../../../public/assets/investment_active.png');
  }
  .scheduleLink {
    color: $active-color1;
  }
  .portfolioLink {
    color: $active-color1;
  }
}

.Icon {
  width: 20px;
  object-fit: cover;
}

.portfolioLink {
  text-decoration: none; /* Remove underline */
  color: rgb(0, 0, 0);

  @media (max-width: 1000px) {
    display: none; // Hide text on small screens
  }
}

.incomeNavBlock {
  display: flex;
  flex-direction: column;
  margin: 18px 0 0;
  background-color: rgb(0 102 102);
  border-radius: 8px;
}

.incomeNavItem {
  display: flex;
  column-gap: 12px;
  margin: 10px 12px;

  @include tn {
    position: relative;
    column-gap: 8px;
    margin: 10px 8px;
  }
}

.incomeIcon {
  width: 20px;
  object-fit: cover;
}

.incomeLink {
  width: 124px;
  font: 500 14px/1.43 Inter, Helvetica, Arial, serif;
  color: rgb(229 227 227);
  letter-spacing: -0.28001px;

  @media (max-width: 1000px) {
    display: none; // Hide text on small screens
  }
}

.settingsIcon {
  margin: 2px 0;
  width: 16px;
  object-fit: cover;
}

.earningsSection {
  display: flex;
  align-items: center;
  column-gap: 11px;
  margin: 12px 0 0 23px;

  @include xs {
    position: relative;
    margin: 12px 0 0 16px;
  }

  @include tn {
    column-gap: 8px;
    margin: 12px 0 0 8px;
  }
}

.navTitle,
.scheduleLink,
.incomeLink,
.settingsLink,
.portfolioLink {
  @media (max-width: 900px) {
    display: none; // Hide text on small screens
  }
}

.navIcon,
.portfolioIcon,
.incomeIcon,
.settingsIcon,
.notificationIcon {
  width: 20px; // Ensure icons are appropriately sized
}

.navigationBar {
  @media (max-width: 768px) {
    flex-direction: row; // Change layout to row for smaller screens
    justify-content: space-around; // Space out icons
  }
}

.divider {
  width: 2px;
  height: 140px;
  min-height: 140px;
  background-color: rgb(0 102 102);
}

.earningsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0;
  width: 172px;
  min-width: 0;
}

.earningsText {
  width: 86.05%;
  font: 500 12px/1.33 Inter, Helvetica, Arial, serif;
  color: rgb(229 227 227);
  letter-spacing: -0.24px;
}

.refundsText {
  display: flex;
  justify-content: center;
  margin: 12px 0 0;
  width: 100%;
  max-width: 100%;
  font: 500 12px/1.33 Inter, Helvetica, Arial, serif;
  color: rgb(229 227 227);
  text-align: center;
  background-color: rgb(0 102 102);
  padding: 8px 12px;
  border-radius: 8px;
  letter-spacing: -0.24px;
}

.declinesText {
  margin: 12px 0 0;
  width: 86.05%;
  font: 500 12px/1.33 Inter, Helvetica, Arial, serif;
  color: rgb(229 227 227);
  letter-spacing: -0.24px;
}

.payoutsText {
  margin: 20px 0 0;
  width: 86.05%;
  font: 500 12px/1.33 Inter, Helvetica, Arial, serif;
  color: rgb(229 227 227);
  letter-spacing: -0.24px;
}

.settingsArticle {
  display: flex;
  align-items: center;
  margin: 40px 12px 0;
  font: 500 12px/1 Inter, Helvetica, Arial, serif;
  color: rgb(229 227 227);
  text-transform: uppercase;
  letter-spacing: 0.4px;

  @include tn {
    position: relative;
    margin: 40px 8px 0;
  }
}

.notificationNavItem {
  display: flex;
  column-gap: 12px;
  margin: 18px 12px 0;

  @include tn {
    position: relative;
    column-gap: 8px;
    margin: 18px 8px 0;
  }
}

.notificationIcon {
  width: 20px;
  object-fit: cover;
}

.notificationLink {
  width: 152px;
  font: 500 14px/1.43 Inter, Helvetica, Arial, serif;
  color: rgb(229 227 227);
  letter-spacing: -0.28001px;

  @media (max-width: 1000px) {
    display: none; // Hide text on small screens
  }
}

.settingsNavItem {
  display: flex;
  column-gap: 12px;
  margin: 28px 12px 0;

  @include tn {
    position: relative;
    column-gap: 8px;
    margin: 28px 8px 0;
  }
}

.settingsIcon1 {
  width: 20px;
  object-fit: cover;
}

.settingsLink {
  width: 124px;
  font: 500 14px/1.43 Inter, Helvetica, Arial, serif;
  color: rgb(229 227 227);
  letter-spacing: -0.28001px;

  @media (max-width: 1000px) {
    display: none; // Hide text on small screens
  }
}

.extraSettingsIcon {
  margin: 2px 0;
  width: 16px;
  object-fit: cover;
}

