@use "../utils" as *;
@use "../global" as *;

.containerSection {
  display: flex;
  flex-direction: column;
  background-color: $main-bg-color;
  overflow: hidden;
  width: 99.1vw;
}

.contentBlock {
  display: flex;
  justify-content: start;
  column-gap: 4%;
 // margin: 0 26px 0 0;
  width: 100%;

  @include xl {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  @include xs {
    position: relative;
    margin: 0 16px 0 0;
  }

  @include tn {
    margin: 0 8px 0 0;
  }
}


.mainContentSection {
  display: flex;
  flex-direction: column;
  row-gap: 63px;
  // margin: 0 0 100px;
  width: 77%;
  min-width: 0;
  height: fit-content;
  @include xl {
    position: relative;
    margin: 0;
    width: 100%;
    min-width: unset;
  }

  @include tn {
    row-gap: 50px;
  }
}


.portfolioContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  
  row-gap: 18px;
  width: auto;
  max-width: auto;
}

.portfolioTitle {
  width: 94.37%;
  font: 700 24px/0.83 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0 / 80%);
  letter-spacing: -0.88px;

  @include md {
    align-items: flex-start;
    font-size: 22px;
  }

  @include xxs {
    font-size: 20px;
  }
}

.portfolioItem {
  display: flex;
  justify-content:start ;
  flex-direction: row;
  column-gap: none;
  width: auto;
  height: auto;
  background-color:white;
  box-shadow: $shadow;
  border-radius: 3%;
  @include xs {
    column-gap: 16px;
  }

  @include tn {
    column-gap: 8px;
  }
}
.incomeBlock, .expenseBlock ,.chartBlock{
  display: flex;
  flex-direction: column;
  justify-content:start;
  width: 500px;
  height: 100%;
  align-items: center;
  background-color: white;
  
  border-right: 1px black solid;
}
.chartBlock{
  border-right: none;
  height: auto;
  border-top-right-radius: 3%;
  border-bottom-right-radius:3% ;
}
.incomeBlock{
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
}

.incomeChart{
  display: flex;
  flex-direction: row;
  align-items: center;  
  justify-content: center;
}
.portfolioImage {
  width: 108px;
  min-width: 0;
  outline-offset: 0;
  border-radius: 8px;
  object-fit: cover;
  outline: rgb(229 227 227) dashed 1px;
}

.portfolioBlock {
  display: flex;
  flex-direction: column;
  width: 154px;
  min-width: 0;
  background-color: rgb(255 255 255);
  outline-offset: 0;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 0 rgb(0 0 0 / 25%);
  outline: rgb(229 227 227) dashed 1px;
}

.portfolioRow {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  margin: 11px 10px 10px 9px;

  @include tn {
    position: relative;
    margin: 11px 8px 10px;
  }
}

.portfolioInfo {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.portfolioName {
  display: flex;
  justify-content: center;
  font: 700 24px/0.83 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
  text-align: center;
  letter-spacing: -0.48px;

  @include md {
    align-items: flex-start;
    font-size: 22px;
  }

  @include xxs {
    font-size: 20px;
  }
}

.incomeInfo {
  font: 700 15px/1.33 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
  letter-spacing: -0.3px;
}

.expenseInfo {
  font: 700 15px/1.33 Inter, Helvetica, Arial, serif;
  color: rgb(0 0 0);
  letter-spacing: -0.3px;
}

.incomeChartImage {
  margin: 0 0 0 auto;
  width: 24px;
  object-fit: cover;
}
.incomeAmtBrk{
  border-top: 1px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}
.incomeTitle{
  width: 80%;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 5px;
}
div[id='investment'].incomeTitle{
  width: 80%;
  border-bottom: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.expenseAmount{
  width: 100%;
  border-top: 1px solid black;
  align-items: center;
  display: flex;
  flex-direction: column;
}