@use "../utils" as *;
@use "../global" as *;

.containerSection {
  display: flex;
  flex-direction: row;
  align-items: start;
  background-color: $main-bg-color;
}

.contentBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 20px;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 50%;
  margin-left: 25%;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

.slider {
  width: 100%;
  margin: 10px 0;
}

.riskLabels {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.portfolioContainer {
  margin-top: 20px;
  margin-left: 10px;
}

.portfolioTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.portfolioList {
  list-style: none;
  padding: 0;
}

.portfolioItem {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 10px 10px 5px 20px;
  border-bottom: 1px solid #ccc;
  width: 100%; 
}

.portfolioName {
  font-size: 16px;
  flex: 1; 
  text-align: left; 
  padding-right: 20px;
}

.portfolioValue {
  font-size: 16px;
  font-weight: bold;
  flex: 0 0 200px; 
  text-align: left; 
  margin-left: 10px; 
}

.portfolioValue:nth-child(2) {
  margin-right: 20px; 
}